<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wt.ytzn.testhelp" >

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestHelp" >
        <activity
            android:name=".ui.error.ErrorLogActivity"
            android:exported="false" />

        <activity
            android:name=".ui.net.NetworkLogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.wt.ytzn.testhelp.provider"
            android:exported="true" />
    </application>

</manifest>